<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base Template</title>
  </head>
  <body>
    <div>
    {% block content %}{% endblock content %}
    </div>

    <!-- jQuery (required for this Ajax tutorial) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- start ajax 1 -->
    <!-- <script>

      // using jQuery
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  }
});
      $(document).ready(function(){
          var $myForm = $('.my-ajax-form')
          $myForm.submit(function(event){
              event.preventDefault()
              var $formData = $(this).serialize()
              var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
              $.ajax({
                  method: "POST",
                  url: $thisURL,
                  data: $formData,
                  success: handleFormSuccess,
                  error: handleFormError,
              })
          })
      
          function handleFormSuccess(data, textStatus, jqXHR){
              console.log(data)
              console.log(textStatus)
              console.log(jqXHR)
              $myForm.reset(); // reset form data
          }
      
          function handleFormError(jqXHR, textStatus, errorThrown){
              console.log(jqXHR)
              console.log(textStatus)
              console.log(errorThrown)
          }
      })
      </script> -->
<!-- end ajax 1 -->
      
<script>
  const alertBox = document.getElementById('alert-box')
const imgBox = document.getElementById('img-box')
const form = document.getElementById('p-form')

const name = document.getElementById('id_name')
const description = document.getElementById('id_description')
const image = document.getElementById('id_image')

const csrf = document.getElementsByName('csrfmiddlewaretoken')
console.log(csrf)

const url = "{% url 'home:ajax' %}"

const handleAlerts = (type, text) =>{
    alertBox.innerHTML = `<div class="alert alert-${type}" role="alert">
                            ${text}
                        </div>`
}

image.addEventListener('change', ()=>{
    const img_data = image.files[0]
    const url = URL.createObjectURL(img_data)
    console.log(url)
    imgBox.innerHTML = `<img src="${url}" width="100%">`
})

form.addEventListener('submit', e=>{
    e.preventDefault()

    const fd = new FormData()
    fd.append('csrfmiddlewaretoken', csrf[0].value)
    fd.append('name', name.value)
    fd.append('description', description.value)
    fd.append('image', image.files[0])

    $.ajax({
        type: 'POST',
        url: url,
        enctype: 'multipart/form-data',
        data: fd,
        success: function(response){
            console.log(response)
            const sText = `successfully saved ${response.name}`
            handleAlerts('success', sText)
            setTimeout(()=>{
                alertBox.innerHTML = ""
                imgBox.innerHTML = ""
                name.value = ""
                description.value = ""
                image.value = ""
            }, 3000)
        },
        error: function(error){
            console.log(error)
            handleAlerts('danger', 'ups..something went wrong')
        },
        cache: false,
        contentType: false,
        processData: false,
    })
})

console.log(form)
</script>
  </body>
</html>